.bg-main{
    background-color: #242629 !important;
}


.bg-card{
    background-color: #16161a !important;
}

.headline{
    color: #fffffe !important;
}

.subheadline{
    color: #94a1b2 !important;
}

.bg-button{
    background-color: #7f5af0 !important;
}



